.footer {
  color: $light;
  height: 300px;
  text-align: center;
  overflow: hidden;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding-top: 100px;

    p {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }

  &::before {
    content: '';
    display: block;
    background: $dark-grey;
    transform: skew(0deg, -4deg);
    margin: 100px 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100px;
    z-index: -1;
  }
}
