* {
  box-sizing: border-box;
}

body, body button, body input, html, html button, html input {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: $grey;
}

.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

section {
  margin-top: 50px;
}

.section-title {
  color: $dark-grey;
  font-size: 1.125rem;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;

  &::before {
    content: '';
    display: block;
    background: $grey;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -2;
  }

  &::after {
    content: '';
    display: block;
    background: $light;
    height: 100%;
    width: 215px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  text-decoration: none;
  color: $dark-grey;
  background: #FFFFFF;
  border-radius: 4px;
  outline: none;
  border: 1px solid $dark-grey;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: $light;
    background: $grey;
    border-color: $grey;
  }
}

.loading {
  background: #ffffff;
  height: 300px;
  width: 100%;

  // MOBILE
  @media (max-width: 768px) {
    width: 200px;
  }
}

.loading-shimmer {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #d8d8d8;
  background-image: linear-gradient(to right, #d8d8d8 0%, #bdbdbd 20%, #d8d8d8 40%, #d8d8d8 100%);
  background-repeat: no-repeat;
  background-size: 800px 100%;
  height: 100%;
  position: relative
}

.loading-shimmer div {
  background: #ffffff;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0;

  &.div1 {
    height: 30px;
    top: 170px;
  }

  &.div2 {
    left: 410px;
    top: 60px
  }

  &.div3 {
    height: 20px;
    top: 210px;
  }

  &.div4 {
    left: 440px;
    top: 240px;
  }

  &.div5 {
    height: 20px;
    top: 240px;
  }
}


@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@-webkit-keyframes prideShimmer {
  from {
    background-position: top left
  }
  to {
    background-position: top right
  }
}

.warnings {
  color: red;
  font-style: italic;
  margin-top: 10px;
  line-height: 1.5;
  text-align: center;
}
