@import "reset";
@import "colors";

* {
  box-sizing: border-box;
}

body, body button, body input, html, html button, html input {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: $grey;
}

.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

section {
  margin-top: 50px;
}

.section-title {
  color: $dark-grey;
  font-size: 1.125rem;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;

  &::before {
    content: '';
    display: block;
    background: $grey;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -2;
  }

  &::after {
    content: '';
    display: block;
    background: $light;
    height: 100%;
    width: 215px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  text-decoration: none;
  color: $dark-grey;
  background: #FFFFFF;
  border-radius: 4px;
  outline: none;
  border: 1px solid $dark-grey;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: $light;
    background: $grey;
    border-color: $grey;
  }
}

.header {
  color: $light;
  height: 400px;
  padding-top: 70px;
  text-align: center;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    background: $dark-grey;
    width: 100%;
    height: 420px;
    transform: skew(0deg, 4deg);
    position: absolute;
    top: -100px;
    z-index: -1;
  }

  .header-content {
    margin-bottom: 50px;

    h1 {
      font-size: 1.25rem;
      font-weight: 400;

      strong {
        display: block;
        font-size: 2.5rem;
        font-weight: 700;
        margin: 10px 0 24px;
      }

      p {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }

  .header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .button {
      width: 160px;
      height: 40px;
      margin: 0 20px 20px;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    }
  }
}

.register {
  .container {
    display: flex;
  }

  .register-content {
    width: calc(60% - 60px);
    margin: 0 60px 30px 0;

    .register-title {
      font-size: 1.25rem;
    }

    #register-description {
      margin-top: 30px;

      p {
        font-size: 0.75rem;
        line-height: 1.5;
        margin-bottom: 20px;
      }
    }

  }

  .register-form {
    width: 40%;
    display: flex;
    flex-direction: column;

    & > label {
      font-size: 0.75rem;
      margin-bottom: 5px;
    }

    & > input {
      border: 1px solid $dark-grey;
      outline: none;
      margin-bottom: 20px;
      height: 30px;
    }

    .register-gender {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      label {
        font-size: 0.75rem;
      }

      input {
        margin: 0 5px 0 0;

        &#female {
          margin-left: 40px;
        }
      }
    }

    .button {
      height: 40px;
    }
  }
}

.products {
  margin-bottom: 50px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .button {
      width: auto;
      padding: 10px 30px;
    }
  }

  .product-card {
    display: flex;
    flex-direction: column;

    .button {
      height: 30px;
    }
  }

  .products-list {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, minmax(150px, 200px));
    margin-bottom: 50px;
  }

  .product-title {
    font-size: 0.875rem;
    margin: 10px 0;
  }

  .product-description,
  .product-oldprice,
  .product-installment {
    font-size: 0.75rem;
    margin-bottom: 10px;
  }

  .product-price {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .product-image {
    width: 100%;
    height: auto;
  }
}

.share {
  .share-description {
    font-style: 0.875rem;
    text-align: center;
    margin-bottom: 30px;
  }

  .share-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .share-inputs {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }

    .share-group {
      display: flex;
      flex-direction: column;

      label {
        font-size: 12px;
        margin-bottom: 5px;
      }

      input {
        width: 340px;
        height: 30px;
        outline: none;
        border: 1px solid $dark-grey;
      }
    }

    .share-group:first-child {
      margin-right: 40px;
    }
  }

  .button {
    width: 260px;
    height: 40px;
  }
}

.footer {
  color: $light;
  height: 300px;
  text-align: center;
  overflow: hidden;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding-top: 100px;

    p {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }

  &::before {
    content: '';
    display: block;
    background: $dark-grey;
    transform: skew(0deg, -4deg);
    margin: 100px 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100px;
    z-index: -1;
  }
}

// MOBILE
@media (max-width: 768px) {
  .header {
    height: auto;

    .header-menu .header-button {
      width: calc(50% - 40px);
    }

    .header-content {
      padding: 0 16px;
    }
  }

  .register {
    .container {
      flex-direction: column;
    }

    .register-content,
    .register-form {
      width: 100%;
      padding: 0 16px;
      position: relative;
    }

    .register-title {
      padding-right: 20px;
    }

    #registe-toggle-description {
      position: absolute;
      top: 10px;
      right: 16px;

      &::after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-top: 1px solid $dark-grey;
        border-right: 1px solid $dark-grey;
        cursor: pointer;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        right: 0;
        top: 50%;
      }

      &.toggle {
        top: 0;

        & ~ #register-description {
          display: none;
        }

        &::after {
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }
      }
    }
  }

  .products {
    .products-list {
      grid-template-columns: repeat(1, minmax(auto, 100%));
      padding: 0 16px;
    }

    .product-card {
      flex-direction: row;
      align-items: flex-start;
    }

    .product-image {
      width: 40%;
    }
  }

  .share {
    .share-inputs {
      flex-wrap: wrap;
      justify-content: center;
    }

    .share-form {
      .share-group {
        width: 100%;
        padding: 0 16px;

        input {
          width: 100%;
        }
      }

      .share-group:first-child {
        margin: 0 0 20px 0;
      }
    }
  }
}

@media (max-width: 420px) {
  .header {
    &::before {
      transform: skew(0deg, 20deg);
      height: 500px;
    }
  }
}
